.crnol{
    margin-top: 10px;
    margin-left: 10px;
}
.crnol  button{
    width: 25px;
    height: 25px;



    text-align: center;
    border-width: 1px;
    border-height: 1px;


}

.crnol div{
    display: flex;
}