.dialogs{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 600px 30px;
    grid-template-areas: "dialogsItems messages" "dialogsItems newMwssage";

}

.dialogsItems{
    grid-area: dialogsItems;
    padding: 10px;
}

.messages{
    grid-area: messages;
    padding: 10px;
    margin-right: 10px;
}

.message{
    color: white;
}

.newMessage{
    grid-area: newMwssage;
    text-align: right;
    vertical-align: text-bottom;
    margin-right: 10px;

}

.newMessage textarea{
    width: 90%;
    height: 15px;
    vertical-align: bottom;
}
.newMessage button{
    width: 9%;
    vertical-align: bottom;
}