.imgHeader img {
    height: 150px;
    width: 100%;
}

.imgUser img {
    width: 100px;
    grid-area: img;
}

.discriptionBlock{
    padding: 10px;
    diaplay: grid;
    grid-template-areas:
            'img''profileUser';
    grid-template-columns: 50px 100px;
}
.profileUser{
    grid-area: profileUser;
}